<<<<<<< HEAD
footer {
  background-color: #1e1e1e;
  color: white;
  padding: 30px 20px;
  text-align: center;
  font-size: 0.9rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-links,
.footer-social {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.footer-links a,
.footer-social a {
  color: #f5b301;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #fff;
}

.footer-logo h3 {
  margin: 0;
  color: #f5b301;
}
=======
footer {
  background-color: #1e1e1e;
  color: white;
  padding: 30px 20px;
  text-align: center;
  font-size: 0.9rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-links,
.footer-social {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.footer-links a,
.footer-social a {
  color: #f5b301;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #fff;
}

.footer-logo h3 {
  margin: 0;
  color: #f5b301;
}
>>>>>>> 1dce6fb (Subiendo todos los archivos)
